@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dosis:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

.minimalist {
  background-color: #e6e0d8;
}

.minimalist .navbar {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 50px;
}

.minimalist .navbar .logo {
  display: flex;
  align-items: center;
}

.minimalist .navbar .logo img {
  height: 30px;
  border-radius: 40%;
}

.minimalist .navbar .nav-btn button {
  border: none;
  background: none;
  margin-right: 25px;
  font-size: 20px;
}

.minimalist .navbar .nav-btn button:hover,
.minimalist .navbar .logo img:hover {
  cursor: pointer;
}

.minimalist .container {
  height: 90vh;
  overflow: hidden;
}

.minimalist .container .home-page {
  margin-left: 50px;
  position: absolute;
  top: 60%;
}

.minimalist h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

.minimalist .container .about-me {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.minimalist .container .about-me .about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimalist .container .about-me .about-image img {
  border-radius: 25px;
}

.minimalist .container .about-me .about-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-right: 25px;
  font-size: 20px;
}

.reactjs {
  color: #0d81a6;
}

.vuejs {
  color: #50b0bf;
}

.nodejs {
  color: #026e00;
}

.expressjs {
  color: #7e7e7e;
}

.mysql {
  color: #00758f;
}

.mongodb {
  color: #116149;
}

.reactnative {
  color: #61dafb;
}
