@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dosis:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
}

.minimalist {
  background-color: #e6e0d8;
}

.minimalist .dont-show {
  display: none;
}

.minimalist .navbar {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  margin: 0 50px;
}

.minimalist .navbar .logo {
  display: flex;
  align-items: center;
}

.minimalist .navbar .logo img {
  height: 30px;
  border-radius: 40%;
}

.minimalist .navbar .nav-btn button {
  border: none;
  background: none;
  margin-right: 25px;
  font-size: 20px;
}

.minimalist .navbar .nav-btn button:hover,
.minimalist .navbar .logo img:hover {
  cursor: pointer;
}

.minimalist .container {
  height: 90vh;
}

.minimalist .container .home-page {
  margin-left: 50px;
  position: absolute;
  top: 60%;
}

.minimalist .home-page h1 {
  font-size: 50px;
  padding-bottom: 20px;
}

.minimalist .container .about-me {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.minimalist .container .about-me .about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minimalist .container .about-me .about-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  margin-right: 25px;
  font-size: 20px;
}

.reactjs {
  color: #0d81a6;
}

.vuejs {
  color: #50b0bf;
}

.nodejs {
  color: #026e00;
}

.expressjs {
  color: #7e7e7e;
}

.mysql {
  color: #00758f;
}

.mongodb {
  color: #116149;
}

.reactnative {
  color: #61dafb;
}

.minimalist .container .about-me .about-image #slider {
  position: relative;
  width: 500px;
  height: 500px;
  overflow: hidden;
}

.minimalist .container .about-me .about-image #slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}

.minimalist .container .about-me .about-image #slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

.minimalist .container .about-me .about-image #slider ul li img {
  width: 500px;
  height: 100%;
}

.minimalist .container .about-me .about-image #slider #prev,
.minimalist .container .about-me .about-image #slider #next {
  width: 50px;
  line-height: 50px;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 150ms ease;
}

.minimalist .container .about-me .about-image #slider #prev:hover,
.minimalist .container .about-me .about-image #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

.minimalist .container .about-me .about-image #slider #prev {
  left: 10px;
}
.minimalist .container .about-me .about-image #slider #next {
  right: 10px;
}

.minimalist .container .skills-grid {
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  padding: 10px;
}

.skill-item {
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  margin: 5px;
}

@media screen and (max-width: 1350px) {
  .grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1050px) {
  .minimalist .container .about-me .about-image #slider {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }

  .minimalist .container .about-me .about-image #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }

  .minimalist .container .about-me .about-image #slider ul li {
    position: relative;
    height: 100%;
    float: left;
  }

  .minimalist .container .about-me .about-image #slider ul li img {
    width: 300px;
    height: 100%;
  }

  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .minimalist .container .about-me .about-image {
    display: none;
  }

  .minimalist .container .about-me .about-details {
    margin: auto;
  }

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 10vh;
  }
}

@media screen and (max-width: 450px) {
  .minimalist .navbar .logo img {
    height: 20px;
    border-radius: 40%;
  }

  .minimalist .navbar .nav-btn button {
    border: none;
    background: none;
    margin-right: 5px;
    font-size: 15px;
  }

  .minimalist .home-page h1 {
    font-size: 30px;
    padding-bottom: 15px;
  }

  .minimalist .container .skills-grid {
    height: 90%;
    flex-direction: column;
    align-items: center;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: 375px) {
  .minimalist > div:not(.dont-show) {
    display: none;
  }

  .dont-show {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
