@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dosis:wght@300&display=swap");

body {
  background: rgb(235, 235, 235);
  background: linear-gradient(
    90deg,
    rgba(235, 235, 235, 1) 0%,
    rgba(245, 245, 245, 1) 50%,
    rgba(235, 235, 235, 1) 100%
  );
  font-family: "Dosis", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  font-size: 35px;
  border: 3px solid rgb(100, 100, 100);
  padding: 10px;
  border-radius: 5px;
}

h1 {
  font-size: 100px;
  font-family: "Bruno Ace SC", cursive;
  margin: 0;
  color: rgb(100, 100, 100);
}

h3 {
  font-size: 35px;
}

.container {
  width: 80vw;
  height: 80vh;
  margin: 10vh auto;
  background-color: white;
  border-radius: 25px;
}

.info {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  width: 80%;
}

.vl {
  flex: 1;
}

.vl1 {
  border-left: 5px solid rgb(235, 235, 235);
  height: 80.1vh;
  position: absolute;
  left: 75%;
  margin-left: -3px;
  top: 10vh;
}
.vl2 {
  border-left: 5px solid rgb(235, 235, 235);
  height: 80.1vh;

  position: absolute;
  left: 80%;
  margin-left: -3px;
  top: 10vh;
}
.vl3 {
  border-left: 5px solid rgb(235, 235, 235);
  height: 80.1vh;

  position: absolute;
  left: 85%;
  margin-left: -3px;
  top: 10vh;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.name {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
