/* Reset default styles */
* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; /* Ensure the navbar is on top */
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

main {
  max-width: 100vw;
  margin: auto; /* Adjust top margin to accommodate the fixed navbar */
}

section {
  height: 100vh; /* Set section height to 100% of viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative; /* Add relative positioning to each section */
  z-index: 0; /* Set a lower z-index for sections */
}

section:nth-of-type(odd) {
  background: linear-gradient(
    to right,
    #f3f3f3,
    #e6e6e6,
    #d9d9d9
  ); /* Gradient background for odd sections */
}

section:nth-of-type(even) {
  background: linear-gradient(
    to right,
    #fafafa,
    #f2f2f2,
    #ebebeb
  ); /* Gradient background for even sections */
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}
